* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 
/* Header */
header {
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    border-bottom: 1px solid #eee;
}
 
/* Estilo do nav */
.menu-Desktop nav ul {
    list-style: none;      
    display: flex;        
    gap: 30px;  
}
 
.menu-Desktop nav ul li a {
    text-decoration: none;
    color: #222;          
    font-weight: 500;
    transition: 0.3s;
}
 
.menu-Desktop nav ul li a:hover,
.menu-Desktop nav ul li a.active {
    color: #5E3BEE;
}
 
 
.btn_contato {
    position: relative;
    top: -54px;
    float: right;
    margin-right: 40px;
    margin-top: 3px;
    padding: 8px 18px;
    border: 2px solid #5E3BEE;
    border-radius: 6px;
    color: #5E3BEE;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}
 
.btn_contato:hover {
    background: #5E3BEE;
    color: #fff;
}
 
/* HOME */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 40px;
  gap: 40px;
}

.home-tex {
    flex: 1;
}

.home-text h1 {
    font-size: 2.5rem;
    line-height: 1.3;
    margin: 10px 0 20px;
}

.home-text h1 span {
  color: #5E3BEE; /* destaque roxo */
}